# verziókezelés
.git
.gitignore

# más csomagkezelők lock fájljai (npm-nél feleslegesek)
yarn.lock
pnpm-lock.yaml

# futás közben generált fájlok
node_modules
dist
.svelte-kit

# ideiglenes / lokális beállítások
.vscode
npm-debug.log

# docker-compose definíciókat ne másoljon
docker-compose.yml

# környezeti változók
.env
.env.*
